
.fond
{

    -fx-background-color: linear-gradient(to right,rgb(41, 35, 57),rgb(25, 30, 84),rgb(21, 7, 91),rgb(65, 4, 70),rgb(0, 36, 52),rgb(38, 38, 38));
}

.paneRadius
{
    -fx-background-color : rgb(76, 168, 214);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}


.button1
{
 -fx-background-color : rgba(250, 229, 229, 0.3);
 -fx-text-fill:white;
 -fx-cursor: hand;
 

}

.button1:pressed
{
    -fx-background-color : rgba(71, 71, 185, 0.364);

}

.active
{
    -fx-background-color:blue ;
  }

.paneBoard{
    -fx-background-color:linear-gradient(to right,rgba(0, 71, 22, 0.296),rgba(0, 0, 0, 0.551),black);
    -fx-background-radius : 0px 20px 20px 0px;
    -fx-border-radius : 0px 20px 20px 0px;
    -fx-border-color : white;
}

.paniSide
{
    -fx-background-color:linear-gradient(to right,rgba(132, 96, 96, 0.289),rgba(83, 0, 0, 0.551),rgb(53, 29, 124));
    -fx-background-radius : 20px 0px 0px 20px;
    -fx-border-radius : 20px 0px 0px 20px;

    -fx-border-color : white;
}


.reponse
{
     -fx-background-color : rgba(1, 66, 79, 0.288);
     -fx-text-fill :white;
     -fx-padding : 50 50 50 50  ;
    
     -fx-background-radius: 50px 50px 0px 0px ;
     -fx-focus-color:violet;

}

.saisi
{
    -fx-background-radius: 50px 50px 50px 50px ;
}

.btn
{
    -fx-background-color:none;
}
.btn:hover
{
 
     -fx-background-color :rgb(126, 65, 0);
     -fx-transform:all 90s ease-in-out

}
.btn:pressed
{
   
    -fx-background-color: rgba(71, 71, 185, 0.364);

}


.tab
{
 -fx-background-color :rgba(210, 255, 239, 0.551);
 -fx-background-radius: 10 10 0 0;
 
 

}

.tab:pressed
{
    -fx-background-color : white !important;
    -fx-text-fill : black !important
}

.table{
    -fx-background-color:linear-gradient(to right,rgba(0, 71, 22, 0.296),rgba(0, 0, 0, 0.551),black);
    -fx-background-radius: 0px 0px 0px 20px;
    -fx-border-radius : 0px 0px 0px 20px;
}